@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");

@import "tailwindcss";

h1 {
  font-family: "Barriecito", cursive;
}
/* h2,h3,p,button,a,span, input,li{
  font-family: "Cormorant Infant", serif;

} */
h2,h3,p,button,a,span, input,li,label{
font-family: "Jost", serif;}





body {
  overflow-x: hidden;
}



.page-container {
  background-image: url("https://pbs.twimg.com/media/FOtUhw6XEAYt1sP.jpg:large");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Indie Flower", cursive;
  background-color: #aed3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topics-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topic-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #eaedf0;
  border-radius: 12px;
  cursor: pointer;
  background: rgba(144, 155, 237, 0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-weight: bold;
  color: #363636;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.topic-card:hover {
  transform: scale(1.05);
  background-color: #7715e0;
  box-shadow: 0 6px 15px rgba(184, 44, 44, 0.2);
}



::-webkit-scrollbar {
  width: 15px; /* Ширина вертикальной полосы прокрутки */
  /* height: 10px;  *//* Высота горизонтальной полосы прокрутки */
}

::-webkit-scrollbar-thumb {
  background-color: #fccee8; /* Цвет самой полосы прокрутки */
 /*  border-radius: 10px; */ /* Скругление углов полосы прокрутки */
}

/* ::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}
 */
::-webkit-scrollbar-track {
  background-color: #ffffff; /* Цвет фона полосы прокрутки */
 /*  border-radius: 10px; */ /* Скругление углов фона */
}



.active{
  background-color: #fccee8;
  color: #9810fa;
}